<footer id="myFooter">
        <div class="row d-flex align-items-center">
        
            <div class="col-md-6">
                <div class="row d-flex align-items-center">
                    <div class="col-md-1 m-3 p-0">
                        <div class="social-networks">
                                <a href="https://linktr.ee/grupo_6" class="d-flex justify-content-center github" target="_blank"><img class="hovergit" src="../../assets/img/GitHub-Mark-64px.png" width="33px" alt="github"></a>
                      </div>
                    </div>
                    <div class="col-md-1 m-0 p-0">
                        <a href="https://linktr.ee/linkedimgrupo6" class="linkedin p-2 m-0" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 d-flex justify-content-end p-0 m-0">
                <div>
                    <h2>
                        <a class="navbar-brand"  routerLink="/inicio">
                            <img class="imgLogo" src="https://i.imgur.com/wslm7Ld.png"  alt="logotipo">
                        </a>

                    </h2>
                </div>
            </div>

        </div>
    
    <div class="footer-copyright">
        <p style="font-family: 'Courier New', Courier, monospace;">© 2022 Copyright - Direto da Terra</p>
    </div>
</footer>

