<footer id="myFooter">
        <div class="row d-flex align-items-center">
        
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 m-0 p-0">
                        <div class="social-networks d-flex flex-column">
                            <a href="https://linktr.ee/grupo_6" class="d-flex justify-content-center" target="_blank"><i class="fa fa-github-square"></i></a>
                            <a href="https://linktr.ee/linkedimgrupo6" class="d-flex justify-content-center linkedin p-2 m-0" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 d-flex justify-content-end p-0 m-0">
                <div>
                    <h2>
                        <a href="#">
                        <img src="https://i.imgur.com/wslm7Ld.png" style="width: 200px; height:140px;"
                        class="rounded-circle p-0 m-0" alt="selo">
                        </a>
                    </h2>
                </div>
            </div>

        </div>
    
    <div class="footer-copyright">
        <p style="font-family: 'Courier New', Courier, monospace;">© 2022 Copyright - Direto da Terra</p>
    </div>
</footer>

