#myFooter {
  background-color: #567252 ;
  color: white;
}

#myFooter .footer-copyright {
  background-color: #333333;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter h2 a{
  font-size: 50px;
  text-align: center;
  color: #fff;
}

#myFooter .social-networks a {
  font-size: 40px;
  transition: 0.2s;
}

#myFooter .social-networks {
  text-decoration: none;
}

.imgSelo {
  width: 130px;
  height: 55px;
}

.imgLogo {
  width: 237px;
  height: 46px;
}