<footer id="myFooter">
        <div class="row d-flex align-items-center">
        
            <div class="col-md-6">
                <div class="social-networks">
                    <a href="https://linktr.ee/grupo_6"  target="_blank"><img src="https://i.scdn.co/image/ab6765630000ba8ab882ac0615592c379f9c037a" id="grupo6" alt="grupo6" ></a>
                </div>
            </div>
            
            <div class="col-md-6 d-flex justify-content-end p-0 m-0">
                <div>
                    <h2>
                        <a href="#">
                        <img src="https://i.imgur.com/wslm7Ld.png" style="width: 200px; height:140px;"
                        class="rounded-circle" alt="selo">
                        </a>
                    </h2>
                </div>
            </div>

        </div>
    
    <div class="footer-copyright">
        <p style="font-family: 'Courier New', Courier, monospace;">© 2022 Copyright - Direto da Terra</p>
    </div>
</footer>

