<div class="imgbelo">
  <img
    src="https://img.freepik.com/fotos-gratis/plantio-de-mudas-jovem-planta-na-luz-da-manha-no-fundo-da-natureza_34998-98.jpg"
    alt=""
  />
</div>

<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-md-12">
      <hr />
      <h2 class="text d-flex justify-content-center text corLetra">
        Apagar produto
      </h2>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center text-secondary">
        Você tem certeza que deseja apagar esse produto?
      </h4>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-4">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <img
            src="{{ produto.foto }}"
            class="card-img-top"
            alt="img do produto"
          />

          <h5 class="card-title m-0">{{ produto.nome }}</h5>
          <small class="text-muted"
            >Categoria: {{ produto.categoria.categoria }}</small
          >
          <p class="card-text mt-3">Id: {{ produto.id }}</p>
          <p class="card-text mt-3">Preço: R${{ produto.preco }}</p>
          <p class="card-text mt-3">
            Quantidade: {{ produto.quantidadekg }} kg
          </p>
          <p class="card-text mt-3">Produtor: {{ produto.produtor }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-danger mr-4" routerLink="/produto">Não</button>
      <button class="btn corBotao" (click)="apagar()">Sim</button>
    </div>
  </div>
</div>
