.imgbelo img {
    object-fit: cover;
      width: 100vw;
      height: 20vh;
      margin-top: -20vh;
  }

  .imgbelo {
    z-index: -10 !important;
      position: absolute;
  }

  label {
    display: inline-block;
    width: 120px;
    vertical-align: top;
  }

  .required {
    color: rgb(189, 29, 29);
  }
