<div class="imgFundo">
  <img src="https://i.imgur.com/oKa5g54.jpeg" alt="">
</div>
  
  <div class="container-fluid p-0 m-0 bg-light resto ">
  <div class="row   align-items-center m-1">
      <div class="col-md-12 mt-5 bg-#8cac7b">
          <hr>
  <h2 class="text d-flex justify-content-center">Conheça a cooperativa!</h2>
  <hr>
      <p _>
          Inspirados pela ODS 8 que tem como objetivo promover o crescimento econômico sustentado, inclusivo
e sustentável, emprego pleno e produtivo e trabalho decente para todes. Nós do grupo 6 da truma 42 
sentimos a necessidade de criar um ecommerce em sistema de cooperativismo, juntando pequenos 
agricutores de organicos a direto da terra tem como objetivo gerar oportunidades de trabalho decente, 
renda igualitaria entre os socios cooperados.
      </p>
      <p>
          Nós acreditamos na força da cooperação e que  compartilhando exemplos de boas ações de
          pessoas comuns que fazem a diferença na comunidade da qual fazem parte.
        </p>
        <p>
          Acreditamos que o cooperativismo vai muito além das cooperativas.
          Cooperar nada mais é do que fazer o bem. É auxiliar outras pessoas, ter empatia, ser
          solidário, gentil e ter atitudes simples que, se somadas, podem gerar grandes
          resultados para toda a sociedade.                
        </p>
        <p> 
         Se queremos um mundo melhor, precisamos
         começar por nós mesmos, não é mesmo?
        </p>
      </div>
     </div>

<div class="mt-3 bg-light">
  <hr>
  <h2 class="text d-flex justify-content-center">O que são produtos Orgânicos</h2>
  <hr>
  <p>
  Alimentos orgânicos são  alimentos produzidos com métodos que não utilizam agrotóxicos sintéticos, transgênicos ou fertilizantes químicos. O processo de produção respeita o meio ambiente e visa manter a qualidade do alimento.
  </p>
  <p>
      Dessa forma, o produto não causa danos à saúde e impacto negativo na natureza. A plantação, a flora e a fauna permanecem saudáveis. O resultado são frutas, legumes, verduras, hortaliças, carnes, ovos, feijão e cereais muito mais nutritivos e saborosos.
  </p>
</div>

<div class="mt-3">
  <hr>
  <h2 class="text d-flex justify-content-center">Benefícios dos produtos orgânicos</h2>
  <hr>
  <p>
     <strong>Ausência de agrotóxicos</strong>  –Nenhum pesticida sintético é usado durante a produção de produtos orgânicos, sendo assim os alimentos são mais saudáveis, nutritivos e saborosos. 
  </p>
  <p>
      <strong> Não causam câncer </strong> – É cientificamente comprovado que os agrotóxicos e hormônios favorecem o desenvolvimento de celulas cancerígenas. Motivo mais do que suficiente para você começar a incluir pelo menos alguns itens orgânicos na sua dieta diária!
  </p>
  <p>
      <strong> Melhoria da vida no campo</strong> – A agricultura orgânica contribui na melhoria das condições de vida socioeconômicas das comunidades rurais. Cultivos orgânicos necessitam de mais mão de obra, gerando emprego e renda aos que vivem longe das cidades. 
  </p>
  <p>
      <strong> Conservação do solo</strong> – A produção orgânica visa à conservação da fertilidade do solo, com a prática de rotação de culturas e adubação verde. 
  </p>
  <p>
      <strong> Redução de poluição ambiental</strong> – A agricultura convencional pode poluir o solo de cultivo com produtos químicos que são prejudiciais. Além disso, os agrotóxicos e fertilizantes químicos são levados pela água da chuva e ventos para regiões vizinhas,  prejudicando tanto o local de utilização quanto locais distantes.
  </p>
</div>
<hr>


  <section class="missao">
    <div class="container ">
        <div
          class="flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-4 d-flex align-items-stretch">
                <div class="linha mt-4 mt-xl-0">
                  
                  <h4 class="cor-texto">Missão</h4>
                  <p>
                   kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                   kkkkkkkkkkkk
                   
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="linha mt-4 mt-xl-0">
                  <h4 class="cor-texto">Visão</h4>
                  <p>
                    hshshhshshhshhhhhhhhhhhhhhhhhhhhh
                    llllllllllllllllllllllllllll
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="linha mt-4 mt-xl-0">
             
                  <h4 class="cor-texto">Valores</h4>
                  <p>
                   kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                   kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
  </section>

          <hr>
          <h2 class="text d-flex justify-content-center">Conheça os desenvolvedores</h2>
          <hr>
   




         
          
                <div class="col-md-2">
                 
                  <div class="card-deck mb-2">
                 
                      <img
                        class="foto"
                        src="https://avatars.githubusercontent.com/u/95699181?v=4
                        "
                        alt="Imagem de Daniel"
                      />
                      <div class="card-body">
                        <h5 class="card-title text-center fs-20">Daniel Reis</h5>
                       
                      </div>
                  </div>
                </div>
    </div>