<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark" id="cor">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">
      <img class="imgLogo" src="https://i.imgur.com/W2P8tEp.png" alt="logotipo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/inicio">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/produto">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contato">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/entrar">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cadastrar">Cadastre-se</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
          <a (click)="sair()" class="m-0 font-weight-bold text-light fs16">Sair
            <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--/NavBar-->
