<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark" id="cor">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>Direto da Terra</h1>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Parceiros</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
          <a class="m-0 font-weight-bold text-light fs16">Sair
            <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--/NavBar-->
