.corNavCadastro
{
  background-color: #1b4e00be;
}

.corBotao
{
  background-color: #8dad7b;
}
.corBotao:hover {
  background-color: #6d8b5aea;
}

.imgTamanho{

  width: 500px;
}

.cardHover{
  transition: transform 0.5s
}

.cardHover:hover{
  -webkit-box-shadow: 0px 1px 16px 2px rgba(3,3,3,0.75);
  -moz-box-shadow: 0px 1px 16px 2px rgba(3,3,3,0.75);
  box-shadow: 0px 1px 16px 2px rgba(3,3,3,0.75);
  transition: 0.5s;
  transform: translateY(-5px);
}

.tamanhoCard {
  max-width: 55%;
}

.fonte {
  font-family: 'Chau Philomene One', sans-serif;
}

.opcao {
  visibility: hidden;
}
