<!-- Cadastro de Produto e Categoria -->
<div class="container-fluid p-0 m-0 corVerdeId d-flex justify-content-center">

  <!-- //*ngIf="authService.adm()"  >>> colocar depois de "<a" nos dois links abaixo p/ liberar acesso apenas p/ adm *** -->

  <a href="" class="btn corBotao text-white mr-3 my-3" routerLink="/categoria">Cadastre uma nova categoria</a>
  <a href="" class="btn corBotao text-white my-3" routerLink="/cadastro-produto">Cadastre um novo produto</a>
  </div>
<!-- /Cadastro de Produto e Categoria -->


  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-success fs-50 my-4">Conheça nossos produtos</h1>
    </div>
  </div>


<!-- Nav-Produtos -->
<ul class="nav nav-tabs d-flex justify-content-center my-4" >
  <li class="nav-item">
    <a class="nav-link active text-secondary font-weight-bold" id="nav-todosProdutos-tab" data-toggle="tab" href="#todosProdutos" role="tab" aria-controls="nav-todosProdutos" aria-selected="true">Todos os produtos</a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-secondary font-weight-bold" id="nav-produtoCategoria-tab" data-toggle="tab" href="#produtoCategoria" role="tab" aria-controls="nav-produtoCategoria" aria-selected="false">Produtos por Categoria</a>
  </li>

</ul>
<!-- /nav-produtos -->


<!-- Cards Produtos -->
<div class="container">

  <div class="tab-pane fade show active" id="todosProdutos" role="tabpanel" aria-labelledby="nav-todosProdutos-tab">

    <!-- <div class="row d-flex justify-content-center mt-4 mb-4">
      <div class="col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" name="" id="titulo" placeholder="Digite um titulo de postagem pra pesquisar" [(ngModel)]="tituloPost" (keyup)="findByTituloPostagem()">
        </div>
      </div>
    </div> -->


    <div class="row">
      <div class="col mb-4 d-flex">
        <div class="card" *ngFor='let produto of listaProdutos'>
          <img src="{{produto.foto}}" class="card-img-top img" alt="img do produto">
          <div class="card-body text-center">
            <h5 class="card-title">{{produto.nome}}</h5>
            <p class="card-text">{{produto.categoria.descricao}}</p>
            <p class="card-text">{{produto.quantidadekg}}</p>
            <p class="card-text">{{produto.preco}}</p>
            <div class="d-flex justify-content-center">
              <a class="button btn corBotao text-white mr-2 mt-2" [routerLink]="['/detalhe-produto', produto.id]">Detalhes</a>
              <a class="button btn corBotao text-white mt-2" routerLink="/contato">Entre em Contato</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





<div class="tab-pane fade show active" id="produtoCategoria" role="tabpanel" aria-labelledby="nav-produtoCategoria-tab">



  <!-- <div class="tab-pane fade" id="nav-postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">
      <div class="row d-flex justify-content-center mt-4 mb-4">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" name="" id="titulo" placeholder="Digite tema pra pesquisar" [(ngModel)]="nomeTema" (keyup)="findByNomeTema()">
          </div>
        </div>
      </div>
-->


<div class="row" *ngFor="let categoria of listaCategorias">
  <div class="col mb-4">
    <div class="card *ngFor='let produto of listaProdutos'">
      <img src="{{produto.foto}}" class="card-img-top" alt="img do produto">
      <div class="card-body text-center">
        <h5 class="card-title">{{produto.nome}}</h5>
        <p class="card-text">{{produto.categoria}}</p>
        <p class="card-text">{{produto.quantidadekg}}</p>
        <p class="card-text">{{produto.preco}}</p>
        <a href="" class="btn corBotao text-white mr-2" [routerLink]="['/detalhe-produto', produto.id]">Detalhes</a>
        <a href="" class="btn corBotao text-white" routerLink="/contato">Entre em Contato</a>
      </div>
    </div>
  </div>
</div>
</div>


</div>
<!-- /cards Produtos -->
