<body>
  <div class="container">
      <h2>Cadastro</h2>
  
      <form>
          <div class="input-field">
            <input type="text" name="nome" placeholder="Nome" id="nome" [(ngModel)]="usuario.nome"/>
          <label for="nome">Nome: </label>
          </div>
          
          <div class="input-field">
            <input type="text" name="email" placeholder="Seu e-mail" id="email" [(ngModel)]= "usuario.email"/>
            <label for="email">E-mail: </label>
          </div>

          <div class="input-field">
            <input type="text" name="foto" placeholder="Foto" id="foto" [(ngModel)]="usuario.foto"/>
            <label for="foto">Foto: </label>
          </div>

          <div class="input-field">
            <input type="password" name="senha" id="senha" placeholder="Sua senha" (input)='confirmSenha($event)'
            />
            <label for="senha">Senha: </label>
          </div>

          <div class="input-field">
            <input type="password" name="confirmarSenha" id="confirmarSenha" placeholder="Confirme sua senha" [(ngModel)]='usuario.senha'/>
            <label for="confirmarSenha">Confirmar Senha: </label>
          </div>
          
          <div class="input-field">
            <label for="tipo">Tipo de Usuário</label>
            <select name="tipo" id="tipo" (change)="tipoUser($event)">
              <option>Selecione um tipo de usuário:</option>
              <option value="normal">Normal</option>
              <option value="adm">Administrador</option>
            </select>
          </div>
  
          <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-danger mr-3" id="tamBotao" routerLink="/entrar">Cancelar</button>
            <button type="submit" class="btn btn-success" id="tmBotao" (click)="cadastrar()">Cadastrar</button>

          </div>
      </form>
  
  </div>
</body>