.imgbelo img {
  object-fit: cover;
    width: 100vw;
    height: 130vh;
    margin-top: -20vh;
}

.imgbelo {
  z-index: -10 !important;
    position: absolute;
}

.cor{
color: #8cac7b ;
}

.corbg{
  background-color: #8cac7b;
  width: 30%
}


label{
  text-align: left;
}

input, textarea {
  width: 50%;
  padding: 5px 10px;
  border-radius: 10px;
  border: 100;
  color: #161616

}

#txtNome, #txtEmail, #txtAssunto {
  margin-bottom: 1.9rem;
}

button {
  padding: 5px 1rem;
  width: 52%;
  margin: 1 auto;
  display: block;
  background-color: #8cac7b;
  border: 2px solid #ebe2e7;
  border-radius: 8px;
  color: #050505;
  text-transform: uppercase;

}

button:hover {
  background-color: #4b643e;
  color: #ebdcdc;
}

  .texto {
    width: 80vw;
  }

  .form {
    width: 100vw;
  }

  .img{
    width: 26vw;
    margin-left: 10vw;
  }
