<div class="container-fluid">
    <div class="row d-flex align-items-center bg-light">
        <div class="col-md-6 bg-light">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 bg-light">
                    <h1 class="text-center">Entrar</h1>
                    <div class="form">
                        <div class="form-group">
                            <label for="usuario">Usuário</label>
                            <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Insira seu usuario...">
                        </div>
                        <div class="form-group">
                            <label for="usuario">E-mail</label>
                            <input class="form-control" type="email" name="email" id="email" placeholder="Insira seu e-mail...">
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-success btn-rounded my-4" data-mdb-ripple-color="dark">Entrar</button>
                            </div>
                            <a href="#"><p class="text-center fontP">Esqueceu sua senha?</p></a> 
                        </div>
                        <hr class="my-4">
                        <p class="text-center">Não tem uma conta? <a 
                            routerLink="/cadastrar">Cadastre-se</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="imglogin"></div>
    </div>
</div>
