<body>
  <div class="container">
      <h2>Login</h2>

      <form>
          <div class="input-field">
              <input type="email" id="email" name="email" placeholder="Insira seu usuario" aria-describedby="email" [(ngModel)]="userLogin.email">
              <label for="email">Usuario: </label>
          </div>

          <div class="input-field">
              <input type="password" id="senha" name="senha" placeholder="Insira sua senha" [(ngModel)]="userLogin.senha">
              <label for="senha">Senha: </label>
          </div>

          <div class="center">
              <button (click)="entrar()">Entrar</button>
          </div>
      </form>

      <div class="links">
          <a routerLink="/inicio"><p>Esqueci minha senha</p></a>
          <a routerLink="/cadastrar"><p>Ainda não sou cadastrado</p></a>
      </div>
  </div>
</body>
