/* You can add global styles to this file, and also import other style files */
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.fs-30 {
  font-size: 30pt;
}

.fs-18 {
  font-size: 18pt;
}

.corBotao {
  background-color: #8dad7b;
}
.corBotao:hover {
  background-color: #6d8b5aea;
}

.corLetra {
  color: #8cac7b;
}

.text {
  text-transform: uppercase;
  font-weight: 900;
  color: hsla(135, 91%, 34%, 0.548);
}
