.imgbelo img {
  object-fit: cover;
    width: 100vw;
    height: 20vh;
    margin-top: -20vh;
}

.imgbelo {
  z-index: -10 !important;
    position: absolute;
}

.corBotao
{
  background-color: #8dad7b;
}
.corBotao:hover {
  background-color: #6d8b5aea;
}

label {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.required {
  color: rgb(189, 29, 29);
}
